<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Chat</title>
</head>
<body>
    <div id="chat"></div>

    <script>
        function getChat() {
            fetch('/all')
                .then(response => response.text())
                .then(data => {
                    document.getElementById("data").innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        }

        window.setInterval(() => {
            getChat();
        }, 1000);
    </script>
</body>
</html>
